## Lab 8 (March 21):
### Strings

Course page: https://ambujtewari.github.io/stats306-winter2022/

Lab page: https://bosafoagyare.netlify.app/courses/stats306-w22/
 <br> <br>
Special thanks to **Ryan Duncan**, whose material has been very helpful in preparing this lab

  Today, we are going to look at:   
 - [Strings]()
 - [Regular Expressions]()

<br><br>
> ## Let's start by loading our packages. It is always encouraged to load all packages atop your codes.

In [70]:
library(tidyverse)       
options(repr.plot.width=10, repr.plot.height=8)    ## Set the dimension of all plots

---

<br> <br>

## **(1) Regular Expressions**
Regular expressions (regex) are a way to describe patterns in text and are used to search for and match certain patterns in strings. For instance, say that you want to find and extract all the email addresses in a document automatically. How might we do that?

Let us look at some tools that we will employ in finding patterns in strings:
<br><br><br><br>
### **(1.1) Special characters**
- `. \ | ( ) [ ] ^ $ { } * + ?`
- Note that `\t` and `\n` match the tab and newline characters.
- If you want the "literal" versions of any of the reserved characters, you will need to escape them with a backslash `\`, e.g. `[\.\\\|]`


<br> 
### **(1.2) Character classes**
- `.` matches anything (wildcard)
- `[aeiou]` matches a single character in the set provided
- `[^aeiou]` matches a single character **NOT** in the set
- `[a-e]` matches a range, equivalent to `[abcde]`

<br> 
### **(1.3) Shorthand**
- `\w` matches a "word" character, equivalent to `[a-zA-Z0-9_]`, i.e alphanumeric plus underscore characters.
- `\s` matches any whitespace, including tabs and newlines
- `\d` matches digits, equivalent to `[0-9]`
- `\W`, `\S`, and `\D` match the opposite of the lower-case versions


<br> 
### **(1.4) Grouping**
- `()` are used to group patterns together. This can be used with any of the below operators. This can also be used to extract portions of a regex out individually, which we will later learn.
- `\1`, `\2`, etc. refers to the first, second, etc. group in the match.

**[NB:]** Groping is very important! A good time to use grouping is:
- for repetition (of same match)
- for providing alternatives
We will explore more in the examples below

<br> 
### **(1.5) Operators**
- `|` is the OR operator and allows matches of either side
- `{}` describes how many times the preceeding character of group must occur:
    + `{m}` must occur exactly `m` times
    + `{m,n}` must occur between `m` and `n` times, inclusive
    + `{m,}` Must occur at least `m` times
- `*` means the preceeding character can appear zero or more times, equivalent to `{0,}`
- `+` means the preceeding character must appear one or more times, equivalent to `{1,}`
- `?` means the preceeding character can appear zero or one time, equivalent to `{0,1}`

**- Challenge**: What do the following mean?  
1. `abc*` :
2. `abc+` :       
3. `abc?` :       
4. `abc{2}` : 
5. `abc{2,}` :
6. `abc{2,5}` :   
7. `a(bc)*` :
8. `a(bc){2,5}` : 
9. `a(b|c)` :

<br> 
### **(1.6) Anchors**
- `^` matches the start of a string (or line)
- `$` matches the end of a string (or line)
- `\b` matches a word "boundary"
- `\B` matches not word boundary

**- Challenge**: What do the following mean?  
1. `^The`  :
2.  `end$` :
3. `^The end$` : 
4. `pond`:

## **(2) Strings**

In [71]:
string1 = "Michigan: BIG 10 Champion!!"
string1

[1] "Michigan: BIG 10 Champion!!"

In [72]:
## Some states of the US 
our_state = "Michigan"
north_east_states = c("Connecticut", "Maine", "Massachusetts", "Vermont", "New Hampshire", "Rhode Island")
lakemich_states = c("Wisconsin", "Illinois", "Michigan", "Indiana")

In [73]:
## Find our state (Michigan)
our_state %in% north_east_states
our_state %in% lakemich_states

[1] FALSE

[1] TRUE

In [74]:
north_east_states %in% our_state

[1] FALSE FALSE FALSE FALSE FALSE FALSE

**String versus vector of strings**

In [75]:
## String vs vector of strings
string2 <- "umich"
str_vec <- c("berkeley", "harvard", "umich", "washington", "madison", "stanford")

### **(2.1) Some important string functions**
All functions in `stringr` start with `str_` and take a vector of strings as the first argument
- `str_detect(<STRING>, pattern)`: tells you if there’s any match to the pattern. Returns `TRUE/FALSE`
- `str_extract(<STRING>, pattern)`: extracts the text of the match. Think of it as extracting what was detected. This returns the first
pattern match found in each string, as a vector.
- `str_extract_all(<STRING>, pattern)`: returns **EVERY** pattern
match
- `str_subset(<STRING>, pattern)`: extracts the words containing the match (in a vector)
- `str_count(<STRING>, pattern)`: counts the number of patterns
- `str_length(<STRING>)`: computes the number of characters in a string
- `str_replace(<STRING>, pattern, replacement)` replaces the matches with new text

### **(2.2) Detect, Extract and Subset**
It is very important to know the diffreneces between `str_extract`, `str_extract_all` and `str_subset`. Let's look at the examples below:

What do you think is happening?

In [77]:
x <- c("why", "video", "cross", "extra", "deal", "authority")

## Detect
str_detect(x, "[aeiou]")

[1] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [78]:
## Extract
str_extract(x, "[aeiou]")

[1] NA  "i" "o" "e" "e" "a"

In [79]:
## Extract all
str_extract_all(x, "[aeiou]")

[[1]]
character(0)

[[2]]
[1] "i" "e" "o"

[[3]]
[1] "o"

[[4]]
[1] "e" "a"

[[5]]
[1] "e" "a"

[[6]]
[1] "a" "u" "o" "i"

In [80]:
## Subset
str_subset(x, "[aeiou]")

[1] "video"     "cross"     "extra"     "deal"      "authority"

## **(3) Applications**

In [81]:
## Our string ("NOT VECTOR") to use


baseball = "According to Baseball Reference’s wins above average, The Red Sox had the best 
outfield in baseball— one-tenth of a win ahead of the Milwaukee Brewers, 11.5 to 11.4. And 
that’s despite, I’d argue, the two best position players in the NL this year (Christian 
Yelich and Lorenzo Cain) being Brewers outfielders. More importantly, the distance from 
Boston and Milwaukee to the third-place Yankees is about five wins. Two-thirds of the Los 
Angeles Angels’ outfield is Mike Trout (the best player in baseball) and Justin Upton (a 
four-time All-Star who hit 30 home runs and posted a 122 OPS+ and .348 wOba this year), 
and in order to get to 11.5 WAA, the Angels’ outfield would have had to replace right 
fielder Kole Calhoun with one of the three best outfielders in baseball this year by WAA."

**(i) Write a regex that captures all capitalized words**

In [82]:
## Your code here
str_extract_all(baseball, "\\b[A-Z][a-z]+")

[[1]]
 [1] "According" "Baseball"  "Reference" "The"       "Red"       "Sox"
 [7] "Milwaukee" "Brewers"   "And"       "Christian" "Yelich"    "Lorenzo"
[13] "Cain"      "Brewers"   "More"      "Boston"    "Milwaukee" "Yankees"
[19] "Two"       "Los"       "Angeles"   "Angels"    "Mike"      "Trout"
[25] "Justin"    "Upton"     "All"       "Star"      "Angels"    "Kole"
[31] "Calhoun"

**(ii) Write a regex that captures all hyphenated words**

In [83]:
## Your code here
str_extract_all(baseball, "\\w+-\\w+")
## OR
str_extract_all(baseball, "[A-Za-z]+-[A-Za-z]+")

[[1]]
[1] "one-tenth"   "third-place" "Two-thirds"  "four-time"   "All-Star"

[[1]]
[1] "one-tenth"   "third-place" "Two-thirds"  "four-time"   "All-Star"

**(iii) Write a regex that captures all words with two consecutive vowels**

In [84]:
## Your code here
str_extract_all(baseball, "\\w*[aeiou]{2}\\w*")
## OR
str_extract_all(baseball, "[A-Za-z]*[aeiou]{2}[A-Za-z]*")

[[1]]
 [1] "outfield"    "ahead"       "Milwaukee"   "argue"       "position"
 [6] "year"        "Christian"   "Cain"        "being"       "outfielders"
[11] "Milwaukee"   "Yankees"     "about"       "outfield"    "Trout"
[16] "four"        "year"        "outfield"    "would"       "fielder"
[21] "Calhoun"     "three"       "outfielders" "year"

[[1]]
 [1] "outfield"    "ahead"       "Milwaukee"   "argue"       "position"
 [6] "year"        "Christian"   "Cain"        "being"       "outfielders"
[11] "Milwaukee"   "Yankees"     "about"       "outfield"    "Trout"
[16] "four"        "year"        "outfield"    "would"       "fielder"
[21] "Calhoun"     "three"       "outfielders" "year"

**(iv) Write a regex that captures all words with a repeated letter**

In [85]:
## Your code here
str_extract_all(baseball, "\\w*([a-zA-Z])\\1\\w*")

[[1]]
 [1] "According" "Baseball"  "baseball"  "Milwaukee" "Milwaukee" "Yankees"
 [7] "baseball"  "All"       "WAA"       "three"     "baseball"  "WAA"

**(v) Write a regex that captures all the numbers**

In [86]:
## Your code here

**(vi) Write a regex that matches `this` and `the` but not `third`**

In [87]:
## Your code here
str_extract_all(baseball, "th(e|is)")
str_extract_all(baseball, "(t|T)h(e|is)") ## alternatively

[[1]]
 [1] "the"  "the"  "the"  "the"  "this" "the"  "the"  "the"  "the"  "this"
[11] "the"  "the"  "this"

[[1]]
 [1] "The"  "the"  "the"  "the"  "the"  "this" "the"  "the"  "the"  "the"
[11] "this" "the"  "the"  "this"

<br>  
**[NB]:** Note that any time you want to use a backslash `\` in a regex pattern in R, you'll need to use a double backslash `\\` instead. This is because R has its own layer of string processing that also uses backslashes to escape reserved characters. So you need to tell R to use a literal backslash so that it passes a backslash to the regex function

In [88]:
## EXAMPLE
naive = "a.c"
dot = "a\\.c"

cat(naive)
str_detect(c("abc", "a.c", "bef"), naive) # matches anything a-blank-c because . is a wildcard

cat(dot)
str_detect(c("abc", "a.c", "bef"), dot)

a.c

[1]  TRUE  TRUE FALSE

a\.c

[1] FALSE  TRUE FALSE

<br><br>
# **Exercise**
Complete the following task using the `stringr::words` dataset:

**(1) Start with `y`**

In [89]:
## Your code here
str_subset(words, "^y")
# OR 
str_subset(words, "^y\\w*")

[1] "year"      "yes"       "yesterday" "yet"       "you"       "young"

[1] "year"      "yes"       "yesterday" "yet"       "you"       "young"

**(2) End with `x`**

In [90]:
## Your code here
str_subset(words, "x$")
# OR
str_subset(words, "\\w*x$")

[1] "box" "sex" "six" "tax"

[1] "box" "sex" "six" "tax"

**(3) End with `ed`, but not with `eed`**

In [91]:
## Your code here
str_subset(words, "[^e](ed)$")
# OR
str_subset(words, "\\w*[^e](ed)$")

[1] "bed"     "hundred" "red"

[1] "bed"     "hundred" "red"

**(4)  End with `ing` or `ise`**

In [92]:
## Your code here
str_subset(words, "(ing|ise)$")
# OR
str_subset(words, "\\w*(ing|ise)$")

 [1] "advertise" "bring"     "during"    "evening"   "exercise"  "king"
 [7] "meaning"   "morning"   "otherwise" "practise"  "raise"     "realise"
[13] "ring"      "rise"      "sing"      "surprise"  "thing"

 [1] "advertise" "bring"     "during"    "evening"   "exercise"  "king"
 [7] "meaning"   "morning"   "otherwise" "practise"  "raise"     "realise"
[13] "ring"      "rise"      "sing"      "surprise"  "thing"

**(5) End with the same two-letter sequence they start with (e.g. `church`)**

In [93]:
## Your code here

## IDEA: 

## choose two letters from the alphanumeric list: \\w{2}
## since the must start, use the start anchor: ^\\w{2}
## since we want same selected charactors to end, it is wise to group them so we can repeat with the group id: ^(\\w{2})
## Now, one or more alphanumeric characters can exist in-between: ^(\\w{2})\\w*
## Finally, we want same selected charactors to repeat at the end. We reference with the grouping id and use $ to signify it ends:

str_subset(words, "^(\\w{2})\\w*\\1$")

[1] "church"     "decide"     "photograph" "require"    "sense"

**(6) A 5-letter pallindrome (e.g. `refer`)**

In [94]:
## Your code here

## IDEA:

## Recall that whenever we want a word to repeat, we group it i.e () so we can reference it in future with it's group id
## Also not that we want pallindromic 5-letter words
## Charater 1 starts and I need this to end so I group it: ^(\\w)
## Charater 2 continues and I need this to be the 4th letter so I group it: ^(\\w)(\\w)
## Charater 3 goes next. I don't group this: ^(\\w)(\\w)\\w
## Charater 4 should be a repetition of the character from the second group: ^(\\w)(\\w)\\w\\2
## Character 5 should be a repetition of the character from the first group. This must also end the word: \\w)(\\w)\\w\\2\\1$

str_subset(words, "^(\\w)(\\w)\\w\\2\\1$")

[1] "level" "refer"

**(7) Match the date string below:**

In [95]:
dates = c('2012-05-13', '2014-12-31', '1991-06-14', '1991/06/14',
          '200a-05-13',  # invalid year
          '2014-15-20',  # invalid month
          '2014-00-20',  # invalid month
          '2016-04-35',  # invalid day
          '2014-12-00',  # invalid day
          '2013/03-25')  # non-matching separators

In [96]:
## Your code here
str_subset(dates, "\\d{4}(-|/)(0[1-9]|1[0-2])\\1(0[1-9]|[12][0-9]|3[0-1])")

#OR

str_subset(dates, "\\d{4}([-/])(0[1-9]|1[0-2])\\1(0[1-9]|[12][0-9]|3[0-1])")

[1] "2012-05-13" "2014-12-31" "1991-06-14" "1991/06/14"

[1] "2012-05-13" "2014-12-31" "1991-06-14" "1991/06/14"